.formu{
    border:1px solid black;
    width:800px;
    padding:20px 0px 20px 300px;
    margin:50px auto 50px auto; 

    background-color: #ffffff;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    position: relative;
    height: 400px;
    width: 900px;
    font-family: 'Playfair Display', serif;


}

.titremenu{
    font-size: 500%;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 2px black;
    margin:50px auto 50px auto; 
    text-align: center;

}

.box{
float: left;
margin-left: 60px;
}

#boxes{
    padding-left:560px;
    position:absolute;
}

#column{
    background-color:white;
    width:600px;
}


@media screen and (max-width: 600px) {
    .formu{
        padding:20px 0px 20px 10px;
        margin:50px auto 50px auto; 
    
        background-color: #ffffff;
        border-radius: 15px;
        border: 3px solid black;
        text-align: center;
        position: relative;
        height: 400px;
        width: 600px;
        font-family: 'Playfair Display', serif;
    
    }

    #boxes{
        padding-left: 0.5px;
        width: 600px;
    }

    #column{
        background-color:white;
        width:600px;
    }

    .box{
        margin-left: 150px;
        }

    .btnad{
        margin-left: 150px;
        text-align: center;
    }


}